django>=5.0
psycopg[binary]==3.3.5   # PostgreSQL adapter
dj-database-url
django-allauth           # GitHub OAuth
Pillow                   # image handling (avatars)
python-dotenv            # manage secret keys via .env
whitenoise               # serve static files in production
gunicorn      
requests
django-ratelimit
python-magic; sys_platform != "win32"
python-magic-bin; sys_platform == "win32"
